In [1]:
# Analyse van +5000 IMDB geregistreerde films voor data mining

# dataset gedownload van https://www.kaggle.com/deepmatrix/imdb-5000-movie-dataset
# 5043 films met elk 26 variabelen :
# "movie_title" "color" "num_critic_for_reviews" "movie_facebook_likes" "duration" "director_name" "director_facebook_likes" 
# "actor_3_name" "actor_3_facebook_likes" "actor_2_name" "actor_2_facebook_likes" "actor_1_name" "actor_1_facebook_likes" 
# "gross" "genres" "num_voted_users" "cast_total_facebook_likes" "facenumber_in_poster" "plot_keywords" "movie_imdb_link" 
# "num_user_for_reviews" "language" "country" "content_rating" "budget" "title_year" "imdb_score" "aspect_ratio"

from pyspark.sql import *
from pandas import DataFrame, read_csv

import matplotlib.pyplot as plt
import pandas as pd

# Always display all the columns
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60) 

movie_data = pd.read_csv('./movie_metadata.csv')

In [2]:
# verwijder onnodige kolommen
del movie_data['facenumber_in_poster']
del movie_data['aspect_ratio']
del movie_data['movie_imdb_link']
del movie_data['plot_keywords']
del movie_data['color']

# voeg nieuwe kolommen toe voor winst en Return On Investment
movie_data['profit'] = movie_data['gross'] - movie_data['budget']
movie_data['roi'] = movie_data['profit'] / movie_data['budget']
movie_d_roi = movie_data[['movie_title','imdb_score','profit','roi']]
movie_d_roi.sort_values(by='roi',ascending=False)
movie_d_roi.head(10)

                                         movie_title  imdb_score       profit       roi
0                                            Avatar          7.9  523505847.0  2.208885
1          Pirates of the Caribbean: At World's End          7.1    9404152.0  0.031347
2                                           Spectre          6.8  -44925825.0 -0.183371
3                             The Dark Knight Rises          8.5  198130642.0  0.792523
4  Star Wars: Episode VII - The Force Awakens    ...         7.1          NaN       NaN
5                                       John Carter          6.6 -190641321.0 -0.722948
6                                      Spider-Man 3          6.2   78530303.0  0.304381
7                                           Tangled          7.8  -59192738.0 -0.227664
8                           Avengers: Age of Ultron          7.5  208991599.0  0.835966
9            Harry Potter and the Half-Blood Prince          7.5   51956980.0  0.207828

In [ ]:
mov_top_20_budget = movie_data.top(20, key=lambda x:x[20])
print(mov_top_20_budget)